/* ===== DASHBOARD SPECIFIC STYLES ===== */
.dashboard-container {
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
    width: clamp(320px, 90%, 1600px);
    margin: auto;
}

.box {
    flex: 1;
    min-width: 600px;
    max-width: 800px;
    height: 370;
}

.dashboard-notification-panel,
.dashboard-client-panel,
.dashboard-chart-section,
.dashboard-legends-panel {
    background: var(--box);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dashboard-notification-panel h2,
.dashboard-client-panel h2,
.dashboard-chart-section h2,
.dashboard-legends-panel h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--text-primary);
}

/* ===== STATS ===== */
.dashboard-stats {
    display: flex;
    justify-content: space-between;
}

.dashboard-stat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: var(--text-secondary);
    gap: 12px;
}

.dashboard-icon {
    width: 32px;
    height: 32px;
    background: var(--box);
    border: 1px solid var(--box-hover);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.dashboard-stat-left .dashboard-stat-number {
    font-size: 64px;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 16px;
}

.dashboard-stat-right {
    margin-top: auto;
    display: flex;
}

.dashboard-stat-right .dashboard-stat-header span,
.dashboard-stat-right .dashboard-stat-header div {
    margin-left: auto;
}

.dashboard-stat-right .dashboard-stat-header {
    font-size: 30px;
}

.dashboard-stat-right .dashboard-stat-number {
    font-size: 160px;
    font-weight: bold;
    color: var(--text-primary);
}

.dashboard-icon img {
    height: 16px;
}

/* ===== STATISTIC ===== */
.dashboard-chart-section h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #ffffff;
}

#statisticChart {
    width: 100% !important;
    height: 460px !important;
}

/* ===== NOTIFICATION ===== */
.dashboard-notification-panel {
    border-radius: 8px;
    padding: 0;
    overflow: hidden;
}

.dashboard-notification-panel h2 {
    font-size: 18px;
    margin: 0;
    padding: 20px 24px;
    border-bottom: 1px solid var(--border-color);
}

.dashboard-notifications {
    display: flex;
    flex-direction: column;
}

.dashboard-notification-item {
    padding: 16px 24px;
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.2s ease;
}

.dashboard-notification-item:nth-child(odd) {
    background: var(--box2);
}

.dashboard-notification-item:nth-child(even) {
    background: var(--box);
}

.dashboard-notification-item:last-child {
    border-bottom: none;
}

.dashboard-notification-item:hover {
    background-color: var(--box-hover);
}

.dashboard-notification-header {
    margin-bottom: 8px;
}

.dashboard-notification-header strong {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 400;
}

.dashboard-notification-item p {
    color: var(--text-primary);
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

/* ===== CLIENT TABLE ===== */
.dashboard-client-table {
    width: 100%;
    border-collapse: collapse;
    color: var(--text-primary);
}

.dashboard-client-table thead {
    border-bottom: 1px solid var(--text-secondary);
}

.dashboard-client-table th {
    text-align: left;
    padding: 12px 8px;
    font-size: 13px;
    color: var(--text-secondary);
    font-weight: 500;
}

.dashboard-client-table td {
    padding: 16px 8px;
    font-size: 14px;
    border-bottom: 1px solid var(--text-secondary);
    transition: background 0.3s ease;
}

.dashboard-client-table tbody tr:hover td {
    background: var(--bg-sidebar-hover);
}

.dashboard-status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    width: 85px;
    text-align: center;
    color: #ffffff;
}

/* status */
.dashboard-status.ongoing {
    background-color: #0E9F6E;
}

/* Green Teal */
.dashboard-status.overdue {
    background-color: #E02424;
}

/* Strong Red */
.dashboard-status.submitted {
    background-color: #1C64F2;
}

/* Bright Blue */
.dashboard-status.cancelled {
    background-color: #6B7280;
}

/* Gray */
.dashboard-status.pending {
    background-color: #F59E0B;
}

/* Orange */
.dashboard-status.review {
    background-color: #A855F7;
}

/* Purple */
.dashboard-status.approved {
    background-color: #0bac21;
}

/* Emerald */
.dashboard-status.hold {
    background-color: #6366F1;
}

/* Indigo */

/* ===== LEGENDS ===== */
.dashboard-legends-section {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    gap: 18px;
}

.dashboard-legends-section div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dashboard-legends-section div span.desc::before {
    content: " = ";
    font-weight: 700;
    margin-right: 8px;
}